In [4]:
import pandas as pd
df = pd.read_csv('D:\\thang\\20221\\deeplearning\\Group16\\result\\logs\\ddpm_log.csv', index_col=False)

In [5]:
df

             Epoch [1/2]
0           Step [1/430]
1        3489.2607421875
2            Epoch [1/2]
3           Step [2/430]
4       3333.43994140625
...                  ...
5160     Step [1721/430]
5161  148.54754638671875
5162         Epoch [2/2]
5163     Step [1722/430]
5164   275.5889892578125

[5165 rows x 1 columns]